
<!-- Form Rendering ejs Template -->
<div class="row">
  <div class="col-sm-12">
    <form id="<%=view.viewModel.form.id%>" autocomplete="off" method="<%=view.viewModel.form.method%>" action="<%=view.viewModel.form.actionUrl%>" novalidate>

      <h1><%=view.viewModel.form.currentItemId?view.viewModel.form.editFormTitle:view.viewModel.form.addFormTitle%></h1>
      <div class="form-row">
      <!-- Iterate the 'fields' array and output the form labels and inputs
        with their proper attributes (defined in view model).
      -->
        <% let firstItem = true %> 
        <% view.viewModel.form.fields.forEach( function(field){ %>
          <% if (firstItem) { %>
            <div class="col-md-12 mb-3">
              <label for="<%=field.label%>"><%=field.label%></label>
              <% if (field.attributes.pattern == undefined) { %> 
                <% if (field.validation.required) {%> 
                  <% if (field.tag == 'select') { %> 
                    <select name="<%= field.name %>" id="<%= field.name %>" class="<%= field.attributes.class %> " required="<%= field.attributes.required %>" >
                      <% if (field.defaultValue == -1) { %> 
                        <option value="" id="coachPlaceHolderOption" selected><%= field.attributes.placeholder %> </option>
                      <% } else { %> 
                        <option value="" id="coachPlaceHolderOption"><%= field.attributes.placeholder %> </option>
                      <% } %> 
                      <% let coaches = view.storage.lookups %> 
                      <% for (let coach of coaches) { %> 
                        <% if (field.defaultValue == coach.value) { %> 
                          <option value="<%= coach.label %>" selected><%= coach.label %> </option>
                        <% } else { %> 
                          <option value="<%= coach.label %>"><%= coach.label %> </option>
                        <% } %> 
                      <% } %> 
                    </select>
                  <% } else { %> 
                    <input name="<%= field.name %> " id="<%= field.name %>" value="<%= field.defaultValue %>" 
                    placeholder="<%= field.attributes.placeholder %>" 
                    title="<%= field.attributes.title %> " class="<%= field.attributes.class %>" 
                    type="<%=field.attributes.type%>" required="<%= field.validation.required %>">
                  <% } %> 
                <% } else {%>
                  <input name="<%= field.name %> " id="<%= field.name %>" value="<%= field.defaultValue %>" 
                  placeholder="<%= field.attributes.placeholder %>" 
                  title="<%= field.attributes.title %> " class="<%= field.attributes.class %>" 
                  type="<%=field.attributes.type%>">
                <% } %>  
              <% } else {%> 
                <input name="<%= field.name %> " id="<%= field.name %>" value="<%= field.defaultValue %>" 
                placeholder="<%= field.attributes.placeholder %>" pattern="<%= field.attributes.pattern %>" 
                title="<%= field.attributes.title %> " class="<%= field.attributes.class %>" 
                type="<%=field.attributes.type%>" required="<%= field.validation.required %>">
              <% } %> 
              <div class="invalid-feedback"><%= field.validation.requiredMessage %> </div>
            </div>
          <% } %>
        <% }) %>
      
      </div>
      
      <div class="form-group row">
        <div class="col-sm-10">
          <button id="cancelButton" type="button" class="btn btn-danger">Cancel</button>
          <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div> <!--col-->
</div><!--row-->