<table id='<%=view.list.id%>' class="<%view.list.tableClasses%>">
    <tr class="trow text-center">
        <% view.columns.forEach( function(col, key){ %>
            <th class="sortable thead <%=view.list.thClasses%>" data-name="<%=col.name%>">
                <%=col.label%>
                <i id="<%=col.name%>-asc" class="bi bi-arrow-up" aria-hidden="true" style="display:none"></i>
                <i id="<%=col.name%>-desc" class="bi bi-arrow-down" aria-hidden="true" style="display:none"></i>
            </th>
            <% }); %>
            <th class="thead <%=view.list.thClasses%>">Actions</th>
    </tr>

    <% data.forEach(function(de) { %>
        <tr class="text-center" data-id="<%=de.id%>" data-bs-toggle="popover">
            <% view.columns.forEach(function(col) { %>
                <td><%=de[col.name]%></td>
            <% }); %>
            <td>
                <span id="editTeam" class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#<%=view.formModal%>"></span>
                <span class="bi bi-trash2-fill" data-bs-toggle="modal" data-bs-target="#myModal"></span>
            </td>
        </tr>
    <% }); %> 
</table>